# виртуальное окружение
venv/

# секреты и переменные окружения
.env
.env.*

# локальное хранилище файлов
storage/

# кэш Python
__pycache__/
*.pyc
*.pyo

# логи
*.log

# редакторы/IDE
.vscode/
.idea/
